.App {
  text-align: center;
  font-family: cursive, sans-serif;
  padding: 50px;
}
select {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #2ecc71;
  color: #fff;
  border: 2px solid black;
  padding: 4px;
  border-radius: 10px;
}

label{
  margin : 10px;
  font-size: large;
  padding: 10px;
}

button {
  background-color: #2ecc71;
  color: white;
  padding: 10px 50px;
  font-size: 16px;
  margin-top: 50px;
  cursor: pointer;
  border-radius: 50px; 
}
